body {
  font: 100% Helvetica, sans-serif;
  color: #000000;
  background-color: #060606;
  color: #ffffff;
  margin: 0 0 0 0;
  padding: 0 4% 0 4%;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}
body::-webkit-scrollbar-track {
  background: #444444;
}
body {
  scrollbar-face-color: #2e2e2e;
  scrollbar-track-color: #444444;
}
body h1 {
  text-transform: capitalize;
  font-size: 70px;
  font-weight: 100;
  margin: 1% 0 2% 0;
}
body h2 {
  font-size: 40px;
  font-weight: 100;
}
body p {
  color: #ffffff;
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
}
header h1 {
  margin: 10% 0 0 0;
  font-size: 150px;
  width: 100%;
}

.long_banner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: -moz-fit-content;
  height: fit-content;
  background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgb(9, 29, 85) 0.2%, rgb(0, 0, 0) 100.2%);
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 1%;
}
.long_banner h2,
.long_banner p {
  color: rgb(204, 204, 204);
}
.long_banner img {
  width: 50%;
  border-radius: 2%;
  animation: cssAnimation_0 1571ms ease-in-out 4ms;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 1% 0;
  min-height: 100vh;
  max-height: -moz-fit-content;
  max-height: fit-content;
  /*:hover {
      transform: perspective(1000px) rotateX(20deg);
      transition: 0.5s;
  }*/
}
section #pfp {
  width: 20%;
  height: auto;
  border-radius: 50%;
}
section .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
section .container :hover {
  transform: perspective(1000px) rotateY(20deg);
  transition: 0.5s;
}
section .project-card {
  background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgb(28, 28, 28) 0.2%, rgb(0, 0, 0) 100.2%);
  border-radius: 20px;
  width: 21%;
  height: 80vh;
  padding: 1%;
  margin: 1%;
}
section .project-card p {
  color: #686868;
}

#skills {
  margin-top: 10%;
}
#skills p {
  border: solid 1px rgb(110, 110, 110);
  border-style: dashed;
  padding: 2%;
}

.button-54 {
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9058823529);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
}
.button-54:hover {
  color: rgb(189, 189, 189);
}
.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

#profiles a {
  border: solid 2px rgb(61, 61, 61);
  border-style: dashed;
  background-color: #ffffff;
  width: 150px;
  padding: 2%;
  margin: 1%;
}
#profiles a img {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  border-radius: 10px;
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}
.icon-cluster {
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  animation: rotate 10s infinite linear;
}

.icon-cluster img {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px;
}

.icon-cluster img:nth-child(1) {
  transform: rotate(0deg) translate(250px) rotate(0deg);
}

.icon-cluster img:nth-child(2) {
  transform: rotate(22.5deg) translate(250px) rotate(-22.5deg);
}

.icon-cluster img:nth-child(3) {
  transform: rotate(45deg) translate(250px) rotate(-45deg);
}

.icon-cluster img:nth-child(4) {
  transform: rotate(67.5deg) translate(250px) rotate(-67.5deg);
}

.icon-cluster img:nth-child(5) {
  transform: rotate(90deg) translate(250px) rotate(-90deg);
}

.icon-cluster img:nth-child(6) {
  transform: rotate(112.5deg) translate(250px) rotate(-112.5deg);
}

.icon-cluster img:nth-child(7) {
  transform: rotate(135deg) translate(250px) rotate(-135deg);
}

.icon-cluster img:nth-child(8) {
  transform: rotate(157.5deg) translate(250px) rotate(-157.5deg);
}

.icon-cluster img:nth-child(9) {
  transform: rotate(180deg) translate(250px) rotate(-180deg);
}

.icon-cluster img:nth-child(10) {
  transform: rotate(202.5deg) translate(250px) rotate(-202.5deg);
}

.icon-cluster img:nth-child(11) {
  transform: rotate(225deg) translate(250px) rotate(-225deg);
}

.icon-cluster img:nth-child(12) {
  transform: rotate(247.5deg) translate(250px) rotate(-247.5deg);
}

.icon-cluster img:nth-child(13) {
  transform: rotate(270deg) translate(250px) rotate(-270deg);
}

.icon-cluster img:nth-child(14) {
  transform: rotate(292.5deg) translate(250px) rotate(-292.5deg);
}

.icon-cluster img:nth-child(15) {
  transform: rotate(315deg) translate(250px) rotate(-315deg);
}

.icon-cluster img:nth-child(16) {
  transform: rotate(337.5deg) translate(250px) rotate(-337.5deg);
}

@keyframes cssAnimation_0 {
  to {
    transform: translate(0px, 20px);
  }
}
@media (max-width: 768px) {
  body h1 {
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 100;
    margin: 1% 0 2% 0;
  }
  body h2 {
    font-size: 30px;
    font-weight: 100;
  }
  body p {
    color: #ffffff;
    font-size: 16 px;
  }
  header h1 {
    margin: 10% 0 0 0;
    font-size: 75px;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 10% 0;
    min-height: 100vh;
    max-height: -moz-fit-content;
    max-height: fit-content;
    /*:hover {
        transform: perspective(1000px) rotateX(20deg);
        transition: 0.5s;
    }*/
  }
  section #pfp {
    width: 90%;
    height: auto;
    border-radius: 50%;
  }
  section .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  section .container :hover {
    transform: perspective(1000px) rotateY(20deg);
    transition: 0.5s;
  }
  section .project-card {
    padding: 2%;
    width: 95%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .long_banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .long_banner img {
    width: 100%;
    border-radius: 2%;
    animation: cssAnimation_0 1571ms ease-in-out 4ms;
  }
  #skills .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #skills p {
    border: solid 1px rgb(110, 110, 110);
    border-style: dashed;
    padding: 15px;
  }
  #profiles .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #profiles a {
    border: solid 2px rgb(61, 61, 61);
    border-style: dashed;
    background-color: #ffffff;
    width: 40%;
    padding: 2%;
    margin: 1%;
  }
  #profiles a img {
    height: 50px;
    width: 50px;
    margin-left: 50px;
    border-radius: 10px;
  }
}/*# sourceMappingURL=styles.css.map */