body {
  font: 100% Helvetica, sans-serif;
  z-index: 2;
  color: #000000;
  background-color: #060606;
  color: #ffffff;
  margin: 0 0 0 0;
  padding: 0 4% 0 4%;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}
body::-webkit-scrollbar-track {
  background: #444444;
}
body {
  scrollbar-face-color: #2e2e2e;
  scrollbar-track-color: #444444;
}
body h1 {
  text-transform: capitalize;
  font-size: 70px;
  font-weight: 100;
  margin: 1% 0 2% 0;
}
body h2 {
  font-size: 40px;
  font-weight: 100;
}
body p {
  color: #ffffff;
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 1%;
  height: 100vh;
}
header h1 {
  text-shadow: 12px -1px 15px rgba(0, 0, 0, 0.65);
  z-index: 5;
  margin: 5% 0 0 0;
  top: 0;
  font-size: 150px;
  width: 100%;
}

.organization_box {
  background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgb(28, 28, 28) 0.2%, rgb(0, 0, 0) 100.2%);
  border-radius: 20px;
  padding: 2%;
  margin: 3% 0%;
}
.organization_box img {
  z-index: 3;
  width: 50%;
  border-radius: 2%;
}
.organization_box p {
  font-size: 14px;
  align-items: center;
  color: #040404;
}
.organization_box details {
  width: 100%;
  background-color: #212121;
  margin-bottom: 20px;
}
.organization_box details p {
  padding: 20px;
}
.organization_box summary {
  padding: 20px;
  background-color: #040404;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.long_banner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 1%;
  height: -moz-fit-content;
  height: fit-content;
  background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgb(9, 29, 85) 0.2%, rgb(0, 0, 0) 100.2%);
  border-radius: 20px;
  padding: 2%;
  margin: 3% 0%;
}
.long_banner h2,
.long_banner p {
  color: rgb(204, 204, 204);
}
.long_banner img {
  width: 50%;
  border-radius: 2%;
  animation: cssAnimation_0 1571ms ease-in-out 4ms;
}
.long_banner a {
  text-decoration: none;
  font-size: 20px;
  color: #686868;
}
.long_banner a:hover {
  color: #e7e7e7;
}
.long_banner li {
  padding: 2% 0%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 1%;
  margin: 0 0 1% 0;
  min-height: 100vh;
  max-height: -moz-fit-content;
  max-height: fit-content;
  /*:hover {
      transform: perspective(1000px) rotateX(20deg);
      transition: 0.5s;
  }*/
}
@keyframes border-zoom {
  0% {
    transform: scaleX(0);
  }
  70% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(1);
  }
}
section h1 {
  color: #fff;
}
section h1:after {
  content: "";
  border-bottom: 5px solid;
  -o-border-image: linear-gradient(to right, rgb(255, 216, 22), rgb(255, 234, 60)) 10;
     border-image: linear-gradient(to right, rgb(255, 216, 22), rgb(255, 234, 60)) 10;
  display: block;
  transform-origin: left;
  width: 100%;
}
section h1:hover:after {
  animation: border-zoom 0.5s linear forwards;
}
section #pfp {
  width: 20%;
  height: auto;
  border-radius: 50%;
}
section .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 1%;
  width: 100%;
  padding: 0%;
  margin: 0%;
  flex-wrap: wrap;
}
section .project-card {
  background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgb(28, 28, 28) 0.2%, rgb(0, 0, 0) 100.2%);
  border-radius: 20px;
  width: 21%;
  height: 80vh;
  padding: 1%;
  margin: 1%;
}
section .project-card p {
  font-size: 14px;
  color: #686868;
}
section .project-card :hover {
  transform: perspective(1000px) rotateY(20deg);
  transition: 0.5s;
}

#skills {
  margin-top: 10%;
}
#skills p {
  border: solid 1px rgb(110, 110, 110);
  border-style: dashed;
  padding: 2%;
}

#contact {
  margin-top: 0;
}
#contact a {
  font-size: 2rem;
  border: none;
  text-decoration: none;
  color: #e7e7e7;
  margin-right: 20%;
}
#contact i {
  margin: 0 20px 0 0;
}
#contact p {
  font-size: 2rem;
  margin-right: 20%;
}

.button-54 {
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9058823529);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
}
.button-54:hover {
  color: rgb(189, 189, 189);
}
.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

#profiles a {
  border: solid 2px rgb(61, 61, 61);
  border-style: dashed;
  background-color: rgba(6, 6, 6, 0.462745098);
  width: 150px;
  padding: 2%;
  margin: 1%;
}
#profiles a img {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  border-radius: 10px;
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}
.icon-cluster {
  z-index: 1;
  margin-left: 50%;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  animation: rotate 50s infinite linear;
  opacity: 0.3;
}

.icon-cluster img {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px;
}

.icon-cluster img:nth-child(1) {
  transform: rotate(0deg) translate(1000px) rotate(0deg);
}

.icon-cluster img:nth-child(2) {
  transform: rotate(20deg) translate(1000px) rotate(20deg);
}

.icon-cluster img:nth-child(3) {
  transform: rotate(40deg) translate(1000px) rotate(40deg);
}

.icon-cluster img:nth-child(4) {
  transform: rotate(60deg) translate(1000px) rotate(60deg);
}

.icon-cluster img:nth-child(5) {
  transform: rotate(80deg) translate(1000px) rotate(80deg);
}

.icon-cluster img:nth-child(6) {
  transform: rotate(100deg) translate(1000px) rotate(100deg);
}

.icon-cluster img:nth-child(7) {
  transform: rotate(120deg) translate(1000px) rotate(120deg);
}

.icon-cluster img:nth-child(8) {
  transform: rotate(140deg) translate(1000px) rotate(140deg);
}

.icon-cluster img:nth-child(9) {
  transform: rotate(160deg) translate(1000px) rotate(160deg);
}

.icon-cluster img:nth-child(10) {
  transform: rotate(180deg) translate(1000px) rotate(180deg);
}

.icon-cluster img:nth-child(11) {
  transform: rotate(200deg) translate(1000px) rotate(200deg);
}

.icon-cluster img:nth-child(12) {
  transform: rotate(220deg) translate(1000px) rotate(220deg);
}

.icon-cluster img:nth-child(13) {
  transform: rotate(240deg) translate(1000px) rotate(240deg);
}

.icon-cluster img:nth-child(14) {
  transform: rotate(260deg) translate(1000px) rotate(260deg);
}

.icon-cluster img:nth-child(15) {
  transform: rotate(280deg) translate(1000px) rotate(280deg);
}

.icon-cluster img:nth-child(16) {
  transform: rotate(300deg) translate(1000px) rotate(300deg);
}

.icon-cluster img:nth-child(17) {
  transform: rotate(320deg) translate(1000px) rotate(320deg);
}

.icon-cluster img:nth-child(18) {
  transform: rotate(340deg) translate(1000px) rotate(340deg);
}

@keyframes cssAnimation_0 {
  to {
    transform: translate(0px, 20px);
  }
}
@media (max-width: 768px) {
  body {
    scroll-snap-type: y mandatory;
  }
  body h1 {
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 100;
    margin: 1% 0 2% 0;
  }
  body h2 {
    font-size: 30px;
    font-weight: 100;
  }
  body p {
    color: #ffffff;
    font-size: 16 px;
  }
  header {
    z-index: 1;
  }
  header h1 {
    margin: 10% 0 0 0;
    font-size: 75px;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 1%;
    z-index: 3;
    margin: 0 0 10% 0;
    min-height: 100vh;
    max-height: -moz-fit-content;
    max-height: fit-content;
    /*:hover {
        transform: perspective(1000px) rotateX(20deg);
        transition: 0.5s;
    }*/
  }
  section #pfp {
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 50%;
    z-index: 3;
  }
  section .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 1%;
  }
  section .container :hover {
    transform: perspective(1000px) rotateY(20deg);
    transition: 0.5s;
  }
  section .project-card {
    padding: 2%;
    width: 95%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .long_banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 1%;
  }
  .long_banner img {
    width: 100%;
    border-radius: 2%;
    animation: cssAnimation_0 1571ms ease-in-out 4ms;
  }
  #skills .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 1%;
    flex-wrap: wrap;
  }
  #skills p {
    border: solid 1px rgb(110, 110, 110);
    border-style: dashed;
    padding: 15px;
  }
  #profiles .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 1%;
    flex-wrap: wrap;
  }
  #profiles a {
    border: solid 2px rgb(61, 61, 61);
    border-style: dashed;
    background-color: #ffffff;
    width: 40%;
    padding: 2%;
    margin: 1%;
  }
  #profiles a img {
    height: 50px;
    width: 50px;
    margin-left: 50px;
    border-radius: 10px;
  }
  #contact {
    height: 100vh;
  }
  #contact a {
    font-size: 1.4rem;
    border: none;
    text-decoration: none;
    color: #e7e7e7;
    margin-right: 0;
  }
  #contact i {
    margin: 0 10px 0 0;
  }
  #contact p {
    font-size: 1.4rem;
    margin-right: 10%;
  }
}
:root {
  --color-bg-a: rgb(0, 0, 0);
  --color-bg-b: rgb(0, 0, 0);
  --color-a: 18, 113, 255;
  --color-b: 221, 74, 255;
  --color-c: 100, 220, 255;
  --color-d: 200, 50, 50;
  --color-e: 180, 180, 50;
  --color-interactive: 148, 100, 255;
  --size: 80%;
  --blend: hard-light;
}

.lava-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  padding: 2%;
  margin-bottom: 1%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  background: linear-gradient(40deg, var(--color-bg-a), var(--color-bg-b));
}

/* Using SVG for filtering, not for display */
svg {
  display: none;
}

.gradient-container {
  /* This is where the magic happens */
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.g1,
.g2,
.g3,
.g4,
.g5 {
  position: absolute;
  mix-blend-mode: var(--blend);
}

.g1 {
  /* Gradient is visible only to 50%. Bubble is half transparent */
  background: radial-gradient(circle at center, rgba(var(--color-a), 0.8) 0, rgba(var(--color-a), 0) 50%) no-repeat;
  width: var(--size);
  height: var(--size);
  /* Place the bubble in the center of the container */
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  transform-origin: center center;
  animation: bounceV 30s ease infinite;
  opacity: 1;
}

.g2 {
  background: radial-gradient(circle at center, rgba(var(--color-b), 0.8) 0, rgba(var(--color-b), 0) 50%) no-repeat;
  width: var(--size);
  height: var(--size);
  /* Place the bubble relative to the center of the container */
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  opacity: 1;
}

.g3 {
  background: radial-gradient(circle at center, rgba(var(--color-c), 0.8) 0, rgba(var(--color-c), 0) 50%) no-repeat;
  width: var(--size);
  height: var(--size);
  /* Place the bubble relative to the center of the container */
  top: calc(50% - var(--size) / 2 + 200px);
  left: calc(50% - var(--size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
  opacity: 1;
}

.g4 {
  background: radial-gradient(circle at center, rgba(var(--color-d), 0.8) 0, rgba(var(--color-d), 0) 50%) no-repeat;
  width: var(--size);
  height: var(--size);
  /* Place the bubble relative to the center of the container */
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  transform-origin: calc(50% - 200px);
  animation: bounceH 40s ease infinite;
  opacity: 0.7;
}

.g5 {
  background: radial-gradient(circle at center, rgba(var(--color-e), 0.8) 0, rgba(var(--color-e), 0) 50%) no-repeat;
  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  /* Place the bubble relative to the center of the container */
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
  opacity: 1;
}

.interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  width: 100%;
  height: 100%;
  mix-blend-mode: var(--blend);
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounceV {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes bounceH {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}/*# sourceMappingURL=styles.css.map */