$font-stack: Helvetica, sans-serif;
$primary-color: #000000;

$breakpoint-tablet: 768px;

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

    // For Google Chrome
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    // For Internet Explorer
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}


@mixin flex($fd: column, $alignment: flex-start) {
    display: flex;
    flex-direction: $fd;
    align-items: $alignment;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 1%;
}


body {
    @include scrollbars(10px, #2e2e2e, #444444);
    font: 100% $font-stack;
    z-index: 2;
    color: $primary-color;
    background-color: #060606;
    color: #ffffff;
    margin: 0 0 0 0;
    padding: 0 4% 0 4%;
    overflow-x: hidden;

    h1 {
        text-transform: capitalize;
        font-size: 70px;
        font-weight: 100;
        margin: 1% 0 2% 0;
    }

    h2 {
        font-size: 40px;
        font-weight: 100;
    }

    p {
        color: #ffffff;
        font-size: 20px;
    }
}


header {
    @include flex;

    height: 100vh;

    h1 {
        text-shadow: 12px -1px 15px rgba(0,0,0,0.65);
        z-index: 5;
        margin: 5% 0 0 0;
        top:0;
        font-size: 150px;
        width: 100%;
    }
}

.organization_box {

    background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgb(28, 28, 28) 0.2%, rgba(0, 0, 0, 1) 100.2%);
    border-radius: 20px;
    padding:2%;
    margin: 3% 0%;

    img {
        z-index: 3;
        width:50%;
        border-radius: 2%;
    }

    p {
        font-size: 14px;
        align-items: center;
        color: #040404;
    }


    details {
        width: 100%;
        background-color: #212121;
        margin-bottom: 20px;
    }

    details p {
        padding: 20px;
    }

    summary {
        padding: 20px;
        background-color: #040404;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
}

.long_banner {
    @include flex(row);
    height: fit-content;
    background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgba(9, 29, 85, 1) 0.2%, rgba(0, 0, 0, 1) 100.2%);
    border-radius: 20px;
    padding: 2%;
    margin: 3% 0%;

    h2,
    p {
        color: rgb(204, 204, 204);
    }

    img {
        width: 50%;
        border-radius: 2%;
        animation: cssAnimation_0 1571ms ease-in-out 4ms;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        color: #686868;

        &:hover {
            color: #e7e7e7;
        }
    }

    li{
        padding: 2% 0%;
    }

}

section {
    @include flex;
    margin: 0 0 1% 0;
    min-height: 100vh;
    max-height: fit-content;

    /*:hover {
        transform: perspective(1000px) rotateX(20deg);
        transition: 0.5s;
    }*/

    @keyframes border-zoom {
        0% { transform: scaleX(0); }
        70% { transform: scaleX(.5); }
        100% { transform: scaleX(1); }
    }

    h1 {
        color: #fff;
        &:after {
          content: '';
          border-bottom: 5px solid;
          border-image: linear-gradient(to right, rgba(255,216,22,1), rgba(255,234,60,1)) 10;
          display: block;
          transform-origin: left;
          width: 100%;
        }
        &:hover:after{
            animation: border-zoom 0.5s linear forwards;
          }
    }

    #pfp {
        width: 20%;
        height: auto;
        border-radius: 50%;
    }

    .container {
        @include flex(row);
        width: 100%;
        padding: 0%;
        margin: 0%;
        flex-wrap: wrap;
    }

    .project-card {
        background-image: radial-gradient(circle 815px at 23.4% -21.8%, rgb(28, 28, 28) 0.2%, rgba(0, 0, 0, 1) 100.2%);
        border-radius: 20px;
        width: 21%;
        height: 80vh;
        padding: 1%;
        margin: 1%;

        p {
            font-size: 14px;
            color: #686868;
        }

        :hover {
            transform: perspective(1000px) rotateY(20deg);
            transition: 0.5s;
        }
    }

}

#skills {
    margin-top: 10%;

    p {
        border: solid 1px rgb(110, 110, 110);
        border-style: dashed;
        padding: 2%;
    }
}

#contact {
    margin-top: 0;

    a {
        font-size: 2rem;
        border: none;
        text-decoration: none;
        color: #e7e7e7;
        margin-right: 20%;
    }

    i {
        margin: 0 20px 0 0;
    }

    p {
        font-size: 2rem;
        margin-right: 20%;
    }
}


.button-54 {
    font-size: 16px;
    width: fit-content;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffffe7;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;

    &:hover {
        color: rgb(189, 189, 189);
    }

    &:active {
        box-shadow: 0px 0px 0px 0px;
        top: 5px;
        left: 5px;
    }
}


#profiles {
    a {
        img {
            height: 50px;
            width: 50px;
            margin-left: 50px;
            border-radius: 10px;
        }

        border: solid 2px rgb(61, 61, 61);
        border-style: dashed;
        background-color: #06060676;
        width:150px;
        padding: 2%;
        margin: 1%;

    }
}

$num-elements: 18;
$radius: 2000px;
$element-size: 150px;
$angle: 360/$num-elements;
$rot: 0;

@keyframes rotate {
    to {
        transform: rotate(-360deg);
    }
}

.icon-cluster {
    z-index: 1;
    margin-left: 50%;
    width: $radius;
    height: $radius;
    border-radius: 50%;
    animation: rotate 50s infinite linear;
    opacity: 0.3;
}

.icon-cluster img {
    height: $element-size;
    width: $element-size;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -($element-size/2);
}

@for $i from 1 through $num-elements {
    .icon-cluster img:nth-child(#{$i}) {
        transform: rotate($rot * 1deg) translate($radius/2) rotate($rot * 1deg);
    }

    $rot: $rot + $angle;
}

@keyframes cssAnimation_0 {
    to {
        transform: translate(0px, 20px);
    }
}

@media (max-width: $breakpoint-tablet) {


    body {
        h1 {
            text-transform: capitalize;
            font-size: 50px;
            font-weight: 100;
            margin: 1% 0 2% 0;
        }

        h2 {
            font-size: 30px;
            font-weight: 100;
        }

        p {
            color: #ffffff;
            font-size: 16 px;
        }
    }

    header {
        z-index: 1;
        h1 {
            margin: 10% 0 0 0;
            font-size: 75px;
        }
    }

    section {
        @include flex(column);
        z-index: 3;
        margin: 0 0 10% 0;
        min-height: 100vh;
        max-height: fit-content;

        /*:hover {
            transform: perspective(1000px) rotateX(20deg);
            transition: 0.5s;
        }*/


        #pfp {
            width: 90%;
            height: auto;
            margin: auto;
            border-radius:50%;
            z-index: 3;
        }

        .container {
            @include flex(column);

            :hover {
                transform: perspective(1000px) rotateY(20deg);
                transition: 0.5s;
            }
        }

        .project-card {
            padding: 2%;
            width: 95%;
            height: fit-content;
        }

    }

    .long_banner {
        @include flex(column);

        img {
            width: 100%;
            border-radius: 2%;
            animation: cssAnimation_0 1571ms ease-in-out 4ms;
        }

    }

    #skills {
        .container {
            @include flex(row);
            flex-wrap: wrap;
        }

        p {
            border: solid 1px rgb(110, 110, 110);
            border-style: dashed;
            padding: 15px;
        }
    }

    #profiles {
        .container {
            @include flex(row);
            flex-wrap: wrap;
        }

        a {
            img {
                height: 50px;
                width: 50px;
                margin-left: 50px;
                border-radius: 10px;
            }

            border: solid 2px rgb(61, 61, 61);
            border-style: dashed;
            background-color: #ffffff;
            width:40%;
            padding: 2%;
            margin: 1%;

        }
    }

    
#contact {

    height: 100vh;

    a {
        font-size: 1.4rem;
        border: none;
        text-decoration: none;
        color: #e7e7e7;
        margin-right: 0;
    }

    i {
        margin: 0 10px 0 0;
    }

    p {
        font-size: 1.4rem;
        margin-right: 10%;
    }
}
}


:root {
  --color-bg-a: rgb(0, 0, 0);
  --color-bg-b: rgb(0, 0, 0);

  --color-a: 18, 113, 255;
  --color-b: 221, 74, 255;
  --color-c: 100, 220, 255;
  --color-d: 200, 50, 50;
  --color-e: 180, 180, 50;

  --color-interactive: 148, 100, 255;
  --size: 80%;
  --blend: hard-light;
}


.lava-container {
  @include flex(column);
  
  height: 100vh;

  position: relative;
  overflow: hidden;

  top: 0;
  left: 0;

  background: linear-gradient(40deg, var(--color-bg-a), var(--color-bg-b));
}

/* Using SVG for filtering, not for display */
svg {
  display: none;
}

.gradient-container {
  /* This is where the magic happens */
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.g1,
.g2,
.g3,
.g4,
.g5 {
  position: absolute;
  mix-blend-mode: var(--blend);
}

.g1 {
  /* Gradient is visible only to 50%. Bubble is half transparent */
  background: radial-gradient(
      circle at center,
      rgba(var(--color-a), 0.8) 0,
      rgba(var(--color-a), 0) 50%
    )
    no-repeat;

  width: var(--size);
  height: var(--size);

  /* Place the bubble in the center of the container */
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);

  transform-origin: center center;
  animation: bounceV 30s ease infinite;

  opacity: 1;
}

.g2 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color-b), 0.8) 0,
      rgba(var(--color-b), 0) 50%
    )
    no-repeat;

  width: var(--size);
  height: var(--size);

  /* Place the bubble relative to the center of the container */
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);

  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;

  opacity: 1;
}

.g3 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color-c), 0.8) 0,
      rgba(var(--color-c), 0) 50%
    )
    no-repeat;

  width: var(--size);
  height: var(--size);

  /* Place the bubble relative to the center of the container */
  top: calc(50% - var(--size) / 2 + 200px);
  left: calc(50% - var(--size) / 2 - 500px);

  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;

  opacity: 1;
}

.g4 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color-d), 0.8) 0,
      rgba(var(--color-d), 0) 50%
    )
    no-repeat;

  width: var(--size);
  height: var(--size);

  /* Place the bubble relative to the center of the container */
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);

  transform-origin: calc(50% - 200px);
  animation: bounceH 40s ease infinite;

  opacity: 0.7;
}

.g5 {
  background: radial-gradient(
      circle at center,
      rgba(var(--color-e), 0.8) 0,
      rgba(var(--color-e), 0) 50%
    )
    no-repeat;

  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);

  /* Place the bubble relative to the center of the container */
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));

  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;

  opacity: 1;
}

.interactive {
  position: absolute;

  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 50%
    )
    no-repeat;

  width: 100%;
  height: 100%;

  mix-blend-mode: var(--blend);

  top: -50%;
  left: -50%;

  opacity: 0.7;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounceV {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes bounceH {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
